@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --bg: #161616;
  --dif: #1a1a1a;
  --border: #242424;
} */

.bg_style {
  @apply dark:bg-[#222222] bg-white h-20 w-20 md:h-40 md:w-40 flex justify-center items-center rounded-3xl border-2 dark:border-[#2b2b2b];
}
